@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #FAFAF9;
  background-color: #1C1917;
}

body {
  margin: 0;
  min-height: 100vh;
}
